.also {
	margin: 150px 0;

	@media (max-width:($md2+px)) {
		margin: 100px 0;
	}

	@media (max-width:($md3+px)) {
		margin: 80px 0;
	}

	&__container {}

	&__body {}

	&__title {
		margin: 0px 0px 30px 0px;
	}

	&__cards {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		gap: 30px;
		margin: 0px 0px 30px 0px;

		@media (max-width:($md1+px)) {
			gap: 35px;
			grid-template-columns: 1fr 1fr;
		}

		@media (max-width:($md2+px)) {
			gap: 25px;
		}

		@media (max-width:($md3+px)) {
			grid-template-columns: 1fr
		}
	}

	&__card {}

	&__line {
		margin: 30px 0px 100px 0px;
		text-align: center;
	}

	&__link-btn {
		width: 300px;

		@media (max-width:($md3+px)) {
			width: 100%;
		}
	}
}